body{
	background-image: url("../img/dots_map.jpg");
	background-size: cover;
}


img {
	width: 65%;
	height: auto;
	position: absolute;
	top: 0;
	left: 150px;
}

h1{
	color: black;
	text-shadow: 1px 1px 2px black;
}

h2{
	color: black;
	background: skyblue;
	padding-left: 5px;
	padding-right: 5px;
}


.fran-header{
	position: relative;
	font-size: 28px;
	text-decoration: none;
	width: 240px;
	height: 55px;
	padding-left: 5px;
	background: rgba(36,175,205,1);
}



.trans-text{
	border: dashed 2px black;
	position: relative;
	top: 220px;
	left: 215px;
	width: 50%;
	height: 60px;
	margin-top: 20px;
	background: rgba(36,175,205,1);
	overflow: scroll;
}

.prompt-container{
	position: relative;
	top: 240px;
	left: 205px;
	width: 555px;

}

.input-container{
	width: 100%;
	position: relative;
	top: 270px;
	left: 410px;
}

.form-input{
	position: relative;
	top: 0;
	right: 65px;
	border: solid 4px skyblue;
	width: 250px;
	height: 25px;
}

.form-button{
	color: black;
	font-weight: bold;
	font-size: 15px;
	background: skyblue;
	position: relative;
	height: 40px;
	width: 100px;
	top: 15px;
	left: 15px;
	box-shadow: 2px 2px 2px 1px rgba(36,175,205,0.50);
}

.form-button:hover{
	color: white;
	background: lightpink;
}

.form-button:active{
	opacity: 1;
   -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 20px rgba(255,255,255,1);
   box-shadow: 0px 0px 20px rgba(255,255,255,1);
}

#result-ita{
	color: black;
	font-size: 30px;
	font-weight: bold;
	padding-left: 10px;
}

@media (min-width: 1050px){
	.fran-header {
		padding-right: 15px;
		padding-bottom: 15px;
      }

      .trans-text{
      	margin-top: 20px;
      	padding-top: 15px;
      	padding-bottom: 15px;
      }

/*      .prompt-container{
      	margin-top: 20px;
      	padding-top: 15px;
      	padding-left: 15px;
      }

      .form-input{

      }*/


   
}

